<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>GDSC Code Birdge</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="GDSC DAU Code Bridge">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<meta property="og:image" content="../public/assets/images/CodeBridge_logo.png">
	<!-- GDSC code bridge 아이콘 필요 -->    
	<link rel="shortcut icon" href="../public/assets/bridge1.png">
	
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="../public/assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="../public/assets/css/theme.css">


</head> 

<body>    
	<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
					<div class="site-logo"><a class="scrollto" href="#hero-block"><img class="logo-icon" src="../public/assets/logo.png" alt="logo"></a></div>    
					<!-- festa 연결 필요 -->					
					<div class="navbar-btn order-lg-2"><a class="btn btn-secondary" href="https://festa.io/events/2729" target="_blank">오프라인 신청</a></div>
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
						<ul class="nav navbar-nav">
							
							<li class="nav-item"><a class="nav-link scrollto" href="#about-section">About</a></li>  
							<li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Schedule</a></li>                                            
							<li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Speakers</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#venue-section">Inquiry</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Sponsors</a></li>
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
			</div>
		</div>		
		<div class="hero-block-mask" style="background-image: url('../public/assets/bridge3-1.png'); background-size:cover; background-position: center;"></div>
		<div class="container">
				<div class="hero-text-block">
					<div>
					<div class="hero-meta row"><img src="../public/assets/gdsc-main-logo.png" style="width:15%; height: 5%; padding-top: 4px;">GDSC Dong-A University</div>
					<h1 class="hero-heading mb-4" style="text-shadow: 4px 2px 2px gray;"> 	<!--GDSC DAU <br>--> Code Bridge</h1>
					<div class="hero-meta mb-3" style="text-shadow: 4px 2px 2px gray;"><i class="far fa-calendar-alt me-2"></i>11월 5일 &nbsp;&nbsp;<a class="btn btn-light" style="color:#141C25;text-shadow: 4px 2px 2px rgba(255, 255, 255, 0.7);" href="https://map.naver.com/v5/search/%EA%B5%AC%EA%B8%80%20%EC%8A%A4%ED%83%80%ED%8A%B8%EC%97%85%20%EC%BA%A0%ED%8D%BC%EC%8A%A4/place/36644146?c=14144660.8942583,4509874.0194206,13,0,0,0,dh&placePath=%2Fhome%3Fentry=pll" target="_blank"><i class="fas fa-map-marker-alt mx-2"></i>구글 스타트업 캠퍼스</a></div>
					<div class="hero-intro mb-4" style=" color:#dfdfdf">Growth and Communication<br>The Bridge between values and goals</div> 
					<br><br>
					<!-- festa 연결 필요 & 버튼 크기 키울까? -->
					<div class="hero-cta">
					<a class="btn btn-secondary btn-lg" href="https://festa.io/events/2729" target="_blank">오프라인 신청</a>&nbsp;&nbsp;&nbsp;&nbsp;
					<a class="btn btn-primary btn-lg" href="https://festa.io/events/2753" target="_blank">온라인 신청</a>
					</div>
					
					</div>
				</div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->
	<!--background-image: url('../public/assets/mainlogo.png');-->
	<section id="about-section" class="about-section section theme-bg-light" style="background-color:#141C25">
		<div class="container" style="background-color:#141C25; color: white; border-color: white; border-style: solid; border-left-style: none; border-right-style: none; border-width: thick;">
			<div style="text-align: center;">

			
			<img src="../public/assets/11월 5일.png" alt="" style="width: 100%; margin:auto;">
			<br>
			<div style="font-size: 24px;">
				<b>
				<p style="color: #FBBC04; display:inline;">GDSC DAU</p><p style="display:inline;">에서 주최하는 </p><p style="display:inline; font-size: 2.2rem">Code Bridge 컨퍼런스</p><p style="display:inline;">에 여러분들을 초대합니다</p>
				<br>
				<p style="color:#EA4335; display:inline; font-size: 1.7rem;">구글 스타트업 캠퍼스</p><p style="display: inline;">와 </p><p style="color:#EA4335; display:inline; font-size: 1.7rem;">구글 Meet</p><p style="display: inline;">을 통해 만나실 수 있습니다!</p>
				<br><br>
				<p style="color:#4285F4; display:inline;">소통</p><p style="display:inline;">, </p><p style="color:#4285F4; display:inline;">도전</p><p style="display:inline;">, 함께하는 </p><p style="color:#4285F4; display:inline;">성장</p><p style="display:inline;">을 추구하는 </p><p style="color: #FBBC04; display:inline;">GDSC DAU</p><p style="display:inline;">의 </p><p style="color: #FBBC04; display:inline;">가치•목표</p><p style="display:inline;">를 담아</p>
				<br>
				<p style="display:inline;">개발자 대표 직군별 연사님들과 학생분들을 </p><p style="color:#34A853; display:inline;">교각처럼 잇는 </p><p style="display:inline;">공간을 마련하고자 합니다!</p>
				</b>
				<br>
				<br>
			</div>
			
			<br>
			<div class="event-countdown text-center mb-3">		   
				<h4 class="countdown-intro mb-2 text-center mb-3 text-white">Event Starts In:</h4>
				<div id="countdown-box" class="countdown-box"></div>
			</div><!--//event-countdown-->
			<br>
			</div>
		</div><!--//container-->
		<br><br>
	</section>
	
	<section id="schedule-section" class="schedule-section section">
		<div class="container">
			<h3 class="section-heading text-center mb-5">Schedule</h3>
			
			<!-- Nav tabs -->
			<ul class="schedule-nav nav nav-pills nav-fill" id="myTab" role="tablist">
				<li class="nav-item me-2">
					<a class="nav-link active" id="tab-1" data-bs-toggle="tab" href="#tab-1-content" role="tab" aria-controls="tab-1-content" aria-selected="true" style="background-color:#141C25">
						<span class="heading">11월 5일</span>
						<span class="meta">서울 구글 스타트업 캠퍼스 (강남구 영동대로 417 오토웨이타워 지하 2층)</span>
					</a>
				</li>
			
			</ul>

			<br><br>
			<div class="container">
				<div class="row justify-content-around align-items-center flex-row-reverse">
				  <div class="col-lg-2">
						<img src="../public/assets/lsm.png" alt="Image" class="img-fluid">
		  
				  </div>
				  <div class="col-lg-8">
		  
					<h4 class="mb-2">13:30 - 13:50</h4>
					<h2 class="mb-2">GDSC Code Bridge 컨퍼런스 시작</h2>
					<h6 class="mb-4">By 이승민</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># GDSC DAU LEAD &nbsp; # Start Session</p>
				  
					<p style="font-weight: bold;"># GDSC DAU &nbsp; # Code Bridge &nbsp; # 컨퍼런스 및 연사 소개 &nbsp; # 소통 &nbsp; # 도전 &nbsp; # 성장</p>
				  </div>
				</div>
			</div>

			<br><br>

			<!-- Tab panes -->
			<div class="container">
				<div class="row justify-content-around align-items-center">
				  <div class="col-lg-2">
						<img src="../public/assets/gb.png" alt="Image" class="img-fluid mb-3">
		  
				  </div>
				  <div class="col-lg-8">
					<h4 class="mb-2">14:00 - 14:50</h4>
					<h2 class="mb-2">백엔드 개발자로 취업해보기 feat.성장</h2>
					<h6 class="mb-4">By 전가빈</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># 네카라쿠배 4년차 백엔드 개발자 &nbsp; # 백엔드 Session</p>
				  
					<p style="font-weight: bold;"># 예비개발자 &nbsp; # Spring &nbsp; # 관심 있는 &nbsp; # 사람 &nbsp; # 드러와</p>
				</div>
				</div>
			</div>

			<br><br>
			<div class="container">
				<div class="row justify-content-around align-items-center flex-row-reverse">
				  <div class="col-lg-2">
						<img src="../public/assets/ch.png" alt="Image" class="img-fluid">
		  
				  </div>
				  <div class="col-lg-8">
		  
					<h4 class="mb-2">15:00 - 15:50</h4>
					<h2 class="mb-2">알파고는 어떻게 학습하는가</h2>
					<h6 class="mb-4">By 옥찬호</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># Momenti Engine Engineer &nbsp; # 강화학습 Session</p>
				  
					<p style="font-weight: bold;"># 강화학습이 &nbsp; # 뭐야? &nbsp; # 알파고 &nbsp; # 인공지능</p>
				  </div>
				</div>
			</div>

			<br><br>
			<div class="container">
				<div class="row justify-content-around align-items-center">
				  <div class="col-lg-2">
						<img src="../public/assets/jh.png" alt="Image" class="img-fluid mb-3">
		  
				  </div>
				  <div class="col-lg-8">
					<h4 class="mb-2">16:00 - 16:50</h4>
					<h2 class="mb-2">해커 생활을 통해 느낀 해커에게 필요한 것</h2>
					<h6 class="mb-4">By 임재혁</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># Blockchain Security Engineer &nbsp; # 세계 랭킹 해커 &nbsp; # 해킹 및 보안 Session</p>
				  
					<p style="font-weight: bold;"># 해커 &nbsp; # 한걸음 &nbsp; # 다가가기 &nbsp; # 해커 성장기</p>
				</div>
				</div>
			</div>

			<br><br>
			<div class="container">
				<div class="row justify-content-around align-items-center flex-row-reverse">
				  <div class="col-lg-2">
						<img src="../public/assets/ms.png" alt="Image" class="img-fluid mb-3">
				  </div>
				  <div class="col-lg-8">
					
					<h4 class="mb-2">17:00 - 17:50</h4>
					<h2 class="mb-2">기업 코딩테스트 극복하기</h2>
					<h6 class="mb-4">By 김민상</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># 백준 검수 1위 &nbsp; # tony9402 &nbsp; # 알고리즘 Session</p>
				  
					<p style="font-weight: bold;"># 이거 듣고 &nbsp; # 기업 코테 &nbsp; # 다 뿌셔 &nbsp; # 코딩 테스트 &nbsp; # 준비하는 법</p>
				  </div>
				</div>
			</div>

			<br><br>
			<div class="container">
				<div class="row justify-content-around align-items-center flex-row">
				  <div class="col-lg-2">
						<img src="../public/assets/lsm.png" alt="Image" class="img-fluid">
		  
				  </div>
				  <div class="col-lg-8">
		  
					<h4 class="mb-2">18:00 - 18:30</h4>
					<h2 class="mb-2">GDSC Code Bridge 컨퍼런스 종료</h2>
					<h6 class="mb-4">By 이승민</h6>
					<div class="line my-3"><hr></div>
					<p style="font-weight: bold;"># GDSC DAU LEAD &nbsp; # Finish Session</p>
				   
					<p style="font-weight: bold;"># GDSC DAU &nbsp; # Code Bridge &nbsp; # 컨퍼런스 마무리 &nbsp; # 여러분 &nbsp; # 다음에 &nbsp; # 만나요!</p>
				  </div>
				</div>
			</div>

			<br><br>

			<div class="schedule-cta text-center mx-auto">
				<a href="https://festa.io/events/2729" class="btn btn-secondary btn-lg d-block d-md-inline-block" target="_blank">오프라인 신청</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a class="btn btn-primary btn-lg d-block d-md-inline-block" href="https://festa.io/events/2753" target="_blank">온라인 신청</a>
			</div>
		</div><!--//container-->
	</section><!--//schedule-section-->

	<section id="speakers-section" class="speakers-section section" style="background-color:#141C25">
		<div class="container">
			<h3 class="section-heading text-center mb-3 text-white">Speakers</h3>
			<div class="section-intro text-center single-col-max mx-auto mb-5 text-white">인공지능 강화학습과 알고리즘, 백엔드, 블록체인 등<br>
				각 세션 별로 유익한 정보를 공유해 줄 수 있는 다양한 연사님들을 초대하였습니다. </div>
			<div class="row">
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<!--<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">-->
						<img src="../public/assets/gb.png" class="card-img-top rounded-0" alt=""><!--</a>-->
						<div class="card-body" style="background-color: white;">
							<h5 class="card-title mb-2" style="display:inline;"></h5><h5 style="display: inline; font-size: 26px;">전가빈</h5>
							<div class="card-text mb-3">
								<div class="meta">백엔드 Session</div>
								<!-- <h5><a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more...</a></h5>	 -->
								<!-- <br /><p>Spring은 많은 기업에서 사용하는 백엔드 스택입니다.<br/>Spring뿐만 아니라 다른 백엔드에도 적용가능한 지식, 백엔드 개발자로써 취업에 도움되는 빅테크 기업 4년차가 들려주는 이야기.</p> -->
							</div><!--//card-text-->
							<div style="justify-content: center; display: flex;">
								<a class="btn btn-dark btn-lg" href="https://github.com/cafemug" target="_blank"><i class="fab fa-github fa-fw" style="font-size: 24px;"></i>연사소개</a>
							</div>
							</div><!--//card-->
						<div class="card-footer rounded-0" style="background-color: #34A853;"></div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<!-- <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">-->
						<img src="../public/assets/ch.png" class="card-img-top rounded-0" alt=""><!--</a>-->
						<div class="card-body" style="background-color: white">
							<h5 class="card-title mb-2" style="display:inline;"></h5><h5 style="display: inline; font-size: 26px;">옥찬호</h5>
							<div class="card-text mb-3">
								<div class="meta">강화학습 Session</div>
								<!-- <br /><p>국내에서 이세돌과 알파고의 대결이후에 인공지능과 강화학습에 대한 관심이 크게 늘어났습니다.<br />reinforcement-learning-kr Administrator가 들려주는 강화학습 이야기.</p> -->
							</div><!--//card-text-->
							<div style="justify-content: center; display: flex;">
								<a class="btn btn-dark btn-lg" href="https://github.com/utilForever" target="_blank"><i class="fab fa-github fa-fw" style="font-size: 24px;"></i>연사소개</a>
							</div>
							<!-- <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a> -->
						</div><!--//card-->
						<div class="card-footer rounded-0" style="background-color: #EA4335;"></div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<!--<a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">-->
						<img src="../public/assets/jh.png" class="card-img-top rounded-0" alt=""><!--</a>-->
						<div class="card-body" style="background-color: white">
							<h5 class="card-title mb-2" style="display:inline;"></h5><h5 style="display: inline; font-size: 26px;">임재혁</h5>
							<div class="card-text mb-3">
								<div class="meta">해킹&보안 Session</div>
								<!-- <br /><p>인터넷이 등장했을때부터, 앞으로 인터넷이 더 많이 사용될 미래까지 꾸준히 필요한 기술이였던 보안.<br />해킹 및 보안 전문가가 들려주는 해커 이야기.</p> -->
							</div><!--//card-text-->
							<div style="justify-content: center; display: flex;">
								<a class="btn btn-dark btn-lg" href="#" onclick="alert('임재혁 연사자님은 보안상의 이유로 개인정보가 공개되지 않습니다.')"><i class="fab fa-github fa-fw" style="font-size: 24px;"></i>연사소개</a>
							</div>
							<!-- <a href="#modal-speaker-1" data-bs-toggle="modal" data-bs-target="#modal-speaker-1">Read more &rarr;</a> -->
						</div><!--//card-->
						<div class="card-footer rounded-0" style="background-color: #FBBC04;"></div>
					</div><!--//card-->
				</div><!--//col-->
				<div class="col-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<img src="../public/assets/ms.png" class="card-img-top rounded-0" alt=""><!--</a>-->
						<div class="card-body" style="background-color: white">
							<h5 class="card-title mb-2" style="display:inline;"></h5><h5 style="display: inline; font-size: 26px;">김민상</h5>
							<div class="card-text mb-3">
								<div class="meta">알고리즘 Session</div><!-- <br /><p>최근에는 기업에서 코딩테스트를 많이 봅니다.<br />기업 코테를 위한 공부방법, 필요한 Tip들을 얻어갈 수 있는 백준 최상위 Ranker가 들려주는 이야기.</p> -->
							</div><!--//card-text-->
							<div style="justify-content: center; display: flex;">
								<a class="btn btn-dark btn-lg" href="https://github.com/tony9402" target="_blank"><i class="fab fa-github fa-fw" style="font-size: 24px;"></i>연사소개</a>
							</div>
						</div><!--//card-->
						<div class="card-footer rounded-0" style="background-color: #4285F4;"></div>
					</div><!--//card-->
				</div><!--//col-->
			</div><!--//row-->
		</div><!--//container-->
		
	</section><!--//speakers-section-->
	
	<section id="venue-section" class="venue-section  theme-bg-primary" style="background-color: white;">
		<div class="container text-center">
			<br><br>
			<h3 class="section-heading mb-2" style="color: #141C25">Inquiry</h3>
			<div class="row gx-5 py-lg-5 justify-content-center">
				<div class="col-10 col-lg-3 h-100">					
					<div>
						<h5 class="mb-3" style="color: #141C25">GDSC DAU LEAD 이승민</h5>
						<p>Email. lsls011031@gmail.com<br>
						<p>Call. 010-4830-6729</p>
					</div>
				</div>
				<div class="col-10 col-lg-3 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
					<div>
						<h5 class="mb-3" style="color: #141C25">GDSC DAU CORE 이준원</h5>
						<p>Email. cpprhtn@naver.com<br>
						<p>Call. 010-8005-3955</p>
					</div>
				</div>
				<div class="col-10 col-lg-3 offset-lg-1 position-relative h-100 mt-5 mt-lg-0">
					<div>
						<h5 class="mb-3" style="color: #141C25">GDSC DAU CORE 임가겸</h5>
						<p>Email. gocalm00@gmail.com<br>
						<p>Call. 010-8417-4774</p>
					</div>
				</div>
			</div><!--//row-->
			<br>
				<a class="btn btn-dark btn-lg" href="https://bit.ly/Code_Bridge_talk" target="_blank">카카오톡 문의</a>
			<br><br><br>
		</div><!--//container-->
	</section><!--//venue-section-->

	<section id="sponsors-section" class="sponsors-section section" style="background-color:#141C25">
		<div class="container">
			<h3 class="section-heading text-center mb-3 text-white">Sponsors &amp; Partners</h3> <br>
			<div class="row logos justify-content-center">
				<div class="logo-item col-6 col-md-4 col-lg-2"><div style="background-color:white; height:100%; display: flex; align-items: center;"><img src="../public/assets/google-developer.png" alt=""></div></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><div style="background-color:white; height:100%; display: flex; align-items: center;"><img src="../public/assets/gdsc-logo.png" alt=""></div></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><div style="background-color:white; height:100%; display: flex; align-items: center;"><img src="../public/assets/dau-logo.png" alt=""></div></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><div style="background-color:white; height:100%; display: flex; align-items: center;"><img src="../public/assets/hanbit-logo.png" alt=""></div></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><div style="background-color:white; height:100%; display: flex; align-items: center;"><img src="https://resources.jetbrains.com/storage/products/company/brand/logos/jb_beam.png" alt=""></div></div>
				<!-- <div class="logo-item col-6 col-md-4 col-lg-2"><img src="../public/assets/images/logos/logo-1.svg" alt=""></div>
				<div class="logo-item col-6 col-md-4 col-lg-2"><img src="../public/assets/images/logos/logo-2.svg" alt=""></div> -->
			</div>
		</div>
	</section> 

	<footer class="footer py-4 theme-bg-primary" style="background-color: white; color:black">
		<div class="container text-center">			
			<!--
			<ul class="footer-links list-inline mx-auto mb-4">
				<li class="list-inline-item"><a href="#">Code of Conduct</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item me-0"><a href="#">Privacy</a></li>
			</ul> -->
			
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank" style="color:black">Xiaoying Riley</a> for developers</small>
			
		</div><!--//container-->	    
	</footer>

	<!-- Modal Speaker -->
	<div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="speaker-1-ModalLabel" class="modal-title sr-only"
>Speaker Name</h4>
				</div>
				<div class="modal-body p-0">
					<div class="theme-bg-light p-5">
						<div class="row">
							<div class="col-12 col-md-auto text-center">
							    <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="../public/assets/images/speakers/speaker-1.jpg" alt="" />
							</div>
							
							<div class="col text-center text-md-start mx-auto">
								<h2 class="name mb-2">Speaker Name</h2>
								<div class="meta">Job Title Or Position</div>
								<div class="meta mb-2">Company Or Organization</div>
								<ul class="social-list list-inline mb-0">								
									<li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
								</ul><!--//social-list--> 
							</div><!--//col-->
						</div><!--//row-->
					</div>
					<div class="desc p-4 p-lg-5">
						<p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend. Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo purus et lectus. </p>
						<p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et. Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
					</div>
				</div><!--//modal-body-->
			</div><!--//modal-content-->
		</div><!--//modal-dialog-->
	</div><!--//modal-->
	
	<!-- Javascript -->          
	<script src="../public/assets/plugins/popper.min.js"></script>
	<script src="../public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="../public/assets/plugins/smoothscroll.min.js"></script>
	<script src="../public/assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
	<script src="../public/assets/js/main.js"></script>  

</body>
</html> 

